@tailwind base;
@tailwind components;
@tailwind utilities;

/* imports inter font from google fonts */

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');



.service_list_title{
    @apply font-inter font-medium text-[#232323] text-[14px] leading-[16.94px] md:text-[16px] md:leading-[19.36px] mb-1
}
.service_list_subtitle{
    @apply font-inter  font-normal text-[12px] leading-[14.52px]  md:text-[15px] md:leading-[18.15px]
}
.service_list_Button{
@apply  service_list_subtitle md:border text-[#1814F3] md:text-[#718EBF] md:border-[#718EBF] rounded-[50px] px-5 py-2 md:hover:text-[#1814F3] md:hover:border-[#1814F3] whitespace-nowrap
}


/* Custom CSS to hide the scrollbar */
.no-scrollbar::-webkit-scrollbar {
    display: none;
}

.no-scrollbar {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}