.shimmer-wrapper {
    position: relative;
    overflow: hidden;
    background: #f6f7f8;
    background-image: linear-gradient(to right, #eeeeee 0%, #dddddd 20%, #eeeeee 40%, #eeeeee 100%);
    background-repeat: no-repeat;
    background-size: 200% auto;
    animation: shimmer 1.5s linear infinite;
    border-radius: 4px;
    height: 100%; /* Adjust the height based on the component */
  }
  
  @keyframes shimmer {
    0% {
      background-position: -200% 0;
    }
    100% {
      background-position: 200% 0;
    }
  }
  